@import url('https://v1.fontapi.ir/css/Shabnam');
*{
    box-sizing:border-box;
}
html, 
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:Shabnam;
}
.btn-filter{
    cursor: pointer;
    width:75px;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
    background-color:transparent;
    border: 1px solid black;
    font-family: Shabnam;
    font-weight: bold;
}

.filter-content h4{
    color: white;
    text-align: center;

}
.filter-sidebar{
    transition: all .3s;
    list-style-type: none;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:270px;
    height: 100vh;
    margin-top:0;
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
}

.most-visited-products-container{
    display: flex;
    flex-direction: column;
    text-align: center;
  



}
.most-visited-title{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.most-visited-products{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.img-most-visited{
    width: 90%;
    cursor: pointer;
    
}
.product-categories:hover li { opacity:0.5; }
.product-categories li:hover { opacity:1; }

.shop-top-sidebar{
    width: 100%;
    height:50px;
}
.shop-top-sidebar .product-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.container--home{
    width:100%
}
.shop-top-sidebar .product-categories .cat-item{
 padding: 15px 30px;
}
.container--shop .col{
  margin: 0 auto;;
}
.orderby{
    outline: none;
    width: 250px;
    height: 45px;
    padding:0.8em 0.6em;
    border-radius: 25px;
    font-size: 15px;
    font-family: Shabnam;
    cursor: pointer;
}
.filter-content h4{
    background-color: #1d4f62;
    color: white;
    padding: 4px;
    width: 100%;

}
.result{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.orderby option {
    width: 240px;
    padding: 10px 15px;
    height: 0.25em;
    cursor: pointer;
    color: #1d4f62;
  }
  
 
.fa-filter{
    cursor: pointer;
}


.container--shop{
    margin-top: 1%;
    
    width:100%;
   margin-left: auto !important;
   margin-right: auto !important;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.shop-top-sidebar .product-categories li a{
    text-decoration: none;
    color: rgb(66, 66, 66);  
}

.arma--header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    height:90px;
    background-color: #ffffff;
    
}
.fa-magnifying-glass,.fa-cart-shopping{
    color: #2e7297;
}
li{
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.lazy-img{
    width:450px;
    height: 400px;
    cursor: pointer;
    
}

.overlay-lazy-img{
    position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 400px;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.518);
}
.more-link{
    left: 0;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.518);
    width: 100%;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
   

   
}


.more-link a{

   
    color:white;
    text-decoration: none;
   
    
}

.product:hover .lazy-img{
    opacity:0.6;
}
.product:hover .overlay-lazy-img{
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: .3s ease;
}
.product{
    position: relative;
}
.fa-bars{
    font-size:20px;
    float: right;
    margin: 18px;
    cursor: pointer;
    color:#123440;
}
.img-most-visited{
    width: 350px;
    height: 350px;
}
.close-icon,.close-icon-filter{
    position:absolute;
    right:88%;
 
}
.close-icon-filter{
    cursor: pointer;
}
.filter-content{
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.fa-xmark{
    color:#123440;
}
.right--header--menu{
    list-style-type: none;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:320px;
    height: 100vh;
    margin-top:0;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
  }

.right--header--menu a{
    text-decoration: none;
    padding:0.25em;
    cursor:pointer;
    border-radius: 0.5em;
    color: rgb(66, 66, 66);  
   border:1px solid transparent;
    transition:  border .3s ease-in-out;

}

.right--header--menu li{
    display:block;

    padding: 1rem 2rem 1.15rem;

}
.active-item{
    opacity:0.5;
}
.menu-item.active,.menu-item:hover{
   border:1px solid black
    
}


#logo--header{  
    height:90px;
}

.slider{
  min-width:100%;
  height:100vh;
  position:relative;
  overflow:hidden;
}
.slide{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;    
}
.slide > img{
    min-width:100vw;
    min-height: 100vh;
}

.arrow-btn-slider{ 
    background: rgba(255, 255, 255, 0.568);
    width: 50px;
    height:50px;
    border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  position: absolute;
}
.fa-angle-right,.fa-angle-left{
    color:black;
    font-size:25px;     
}
.left-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu-item-left-header{
    padding:0.75em 1.75em;
}
#arrow-btn-right{   
   right:3%;
    top:45%;
}
#arrow-btn-left{  
    left:3%;
    top:45%;
}
.dots{
    display:flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    top: 82%;
    left: 48%;
}
.dot{
    cursor: pointer;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgba(230, 229, 229, 0.678);
    margin: 4px;  
}
.dot--active{
    background-color:#ffffff;
    border:2px solid black;
    transition:all 1s;
}
.about--wrapper-title{
   display: flex;
   justify-content: center;
   align-items: center;
    right: 0;
    width: 60%;
    height: 250px;
 border-top-left-radius: 60em;
 border-bottom-left-radius:60em;
    background-color: #123440;
}
.about-wrapper-title-inner{
    display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #1d4f62;
    width:95%;
    border-top-left-radius: 30em;
    border-bottom-left-radius:30em;
    height: 200px;
}
.about-title{
    font-size:40px;
    text-shadow:0.1em 0.1em 0.045em rgba(23, 23, 23, 0.914);
    color:white;
    
}
.about-wrapper{
    display: grid;
    grid-template-columns: 70% 30%;

}
#about-img{
    width: 100%;
    height: 30em;
    border-top-right-radius: 4em;
}
.about-wrapper-title-title{
    margin: 1.1em;
    
}
.wrp{
    display: flex;
    flex-direction: column;


}
.filter-content-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:#1d4f62;
    padding: 0;
    margin: 0;
    height: 50px;
}
.wpb-wrapper{
    
    display: flex;
    flex-direction: column;
    
}
.wpb-wrapper input[type="submit"]{
    border-radius: 50px;
    border: none;
    color: white;
   position: absolute;
   font-family: Shabnam;
   width: 90px;
   z-index: 4;
   cursor: pointer;
    height: 40px;
    padding: 0 10px;
    background-color:#1c4956;
    transition: 1s ease;
}
.wpb-wrapper input[type="submit"]:hover{
    background-color: white;
    color: #1c4956;
    border: 1px solid #1c4956;
    font-weight: bolder;

}

.wpb-wrapper input::placeholder{
    font-family: Shabnam;
    text-align:center;
}
.wpb-wrapper input[type="email"]{
   text-align: center;
    width: 280px;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding: 0 10px;
}
.links-footer-item{
    cursor: pointer;
   
}
.links-footer-item:visited{
   color: #123440;
}
.links-footer-item:hover{
    color: #2e7297;
}
.most-visited-products-container{
    margin-bottom: 2%;
}

.most-visited-products{
   margin: 0 auto;
}
.links-footer{
    margin:40px 0  10px 0;
}
.join-club-footer-title{
    margin-top:20px;
}
.join-club-footer{
    display: flex;
}
.wpb-wrapper a{
    text-decoration: none;
}

footer{
    display: flex;

    justify-content: space-around;
    background-color: #F6F6F8;
    height: 150px;
    width: 100%;
}
.arma-span{
    font-weight: bold;
    color: rgba(246, 99, 99, 0.971);
}
.about-wrapper-text{
    width: 80%;
    height: 300px;
    font-size:18px;
    text-align: justify;
    margin: 0 0 1.1em 1.1em;
    padding: 10px 15px;
}


.contact-main{
    display: grid;
    grid-template-columns: 60% 40%;
    overflow-x: hidden;
    background-color: #F9F8FD;
}
.container--2{
 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact,.hours-operation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em 2.5em;
}
.contact-option-item{
    margin:0.55em 0.4em;
}
.contact-option-item i{
    margin-left:1em;
}
.contact-text{
    text-align: center;
    margin-top: 15%;
}
#contact-image{
  height:450px
}
