@import url('https://v1.fontapi.ir/css/Shabnam');
*{
    box-sizing:border-box;
}
html, 
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:Shabnam;
}
.fa-search{
    border-color: #0072B8;
    width: 150px;
    height:30px;
    outline: none;
    border-radius: 10px;
   
}
.fa-search::placeholder{
    color: #0072B8;
    font-size: 15px;
    padding: 2%;
}


.fa-phone-flip, .fa-whatsapp, .fa-envelope, .fa-map-location{
    cursor: pointer;
}
.fa-phone-flip:hover{
    animation: cgPhone 0.4s;
}
.fa-whatsapp:hover{
    animation: cgWhatsapp 0.4s;
}
.fa-phone-flip:hover{
    color: #B2283B;
}
.fa-whatsapp:hover{
    color:#43BF53;
}
.fa-envelope:hover{
    color:#0072B8;
}
.fa-map-location:hover{
    color: #F75513;
}
.btn-filter{
    cursor: pointer;
    width:75px;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
    background-color:transparent;
    border: 1px solid black;
    font-family: Shabnam;
    font-weight: bold;
}

.filter-content h4{
    color: white;
    text-align: center;
}
.filter-sidebar{
    transition: all .3s;
    list-style-type: none;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:270px;
    height: 100vh;
    margin-top:0;
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
}
.most-visited-title{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.most-visited-products{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 2%;  
}
.img-most-visited{
    width: 200px;
    cursor: pointer;   
}
.product-categories:hover li { opacity:0.5; }
.product-categories li:hover { opacity:1; font-weight: bold; }

.shop-top-sidebar{
    width: 100%;
    height:50px;
}
.shop-top-sidebar .product-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.container--home{
    width:100%;
}
.shop-top-sidebar .product-categories .cat-item{
 padding: 15px 30px;
}

.orderby{
    outline: none;
    width: 250px;
    height: 45px;
    padding:0.8em 0.6em;
    border-radius: 25px;
    font-size: 15px;
    font-family: Shabnam;
    cursor: pointer;
}
.filter-content h4{
    background-color: #1d4f62;
    color: white;
    padding: 4px;
    width: 100%;
}
.result{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:10px 110px;
}
.orderby option {
    width: 240px;
    padding: 10px 15px;
    height: 0.25em;
    cursor: pointer;
    color: #1d4f62;
  }
.fa-filter{
    cursor: pointer;
}
.container--shop{    
 width:100%;
  margin:1% auto;
}
.product{
    height: 310px;
    margin-bottom: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;  
}
.product-list{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}
.col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.shop-top-sidebar .product-categories li a{
    text-decoration: none;
    color: rgb(66, 66, 66);  
}
.right-header{   
    height: 90px;
    flex: 1;

}

.right--header--menu{
    list-style-type: none;
    flex-direction: column;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:320px;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
}
#arma--header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    height:90px;
    background-color: #ffffff;  
    font-family: Shabnam; 
}

.fa-magnifying-glass,.fa-cart-shopping,.fa-user,.fa-heart{
    cursor: pointer;
    color: #2e7297;
}
li{
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.lazy-img{
    position: relative;
    width:300px;
    height:300px;
    cursor: pointer;    
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.overlay-icon{
    font-size: 24px;
}

.overlay-product{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    position: absolute;
    left: 22%;
    bottom:8%;
    width: 165px;
    height: 42px;
    background-color:#f8f7f7;
    opacity: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.product:hover .overlay-product{
    opacity: 1;
}
.product p{
    margin-bottom:0.28em;
}
.fa-bars{
    position: absolute;
    right: 2%;
    top: 4%;
    font-size:20px;
    cursor: pointer;
    color:#123440;
}
.img-most-visited{
    width: 350px;
    height: 350px;
}

#close-icon,.close-icon-filter{
    position:absolute;
    right:88%;
 
}
.close-icon-filter{
    cursor: pointer;
}
.filter-content{
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
}
.fa-xmark{
    color:#123440;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
  }

.right--header--menu a{
    text-decoration: none;
    padding:0.25em;
    cursor:pointer;
    color: rgb(66, 66, 66);  
    border:1px solid transparent;
    transition:  border .3s ease-in-out;
}
.right--header--menu li{
    display:block;
    padding: 1rem 2rem 1.15rem;
}
.active-item{
    opacity:0.5;
}
.menu-item:hover{
  border-bottom: 1px solid black;
}
.menu-item{
   padding: 10px 15px;
}
#logo--header{  
    height:90px;
    align-self: center;
    
  
}
.slider{
  min-width:100%;
  height:100vh;
  position:relative;
  overflow:hidden;
}
.slide{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;    
}
.slide > img{
    min-width:100vw;
    min-height: 100vh;
}
.arrow-btn-slider{ 
    background: rgba(255, 255, 255, 0.568);
    width: 50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    position: absolute;
}
.fa-angle-right,.fa-angle-left{
    color:black;
    font-size:25px;     
}
.left-header{
    display: flex;
    justify-content: flex-end; 
    flex: 1;
}
.menu-icon{
    position: absolute;
    top:5%;
    right: 2%;
}
.menu-item-left-header{
    padding:0.7em 0.9em;    
}
.menu-item-left-header-1{
    padding: 0.7em;
}

#arrow-btn-right{   
   right:3%;
    top:45%;
}
#arrow-btn-left{  
    left:3%;
    top:45%;
}
.dots{
    display:flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    top: 83%;
    left: 47%;
}
.dot{
    cursor: pointer;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgba(230, 229, 229, 0.678);
    margin: 4px;  
}
.dot--active{
    background-color:#ffffff;
    border:2px solid black;
    transition:all 1s;
}
.about--wrapper-title{
   display: flex;
   justify-content: center;
   align-items: center;
   right: 0;
   width: 60%;
   height: 250px;
   border-top-left-radius: 60em;
   border-bottom-left-radius:60em;
   background-color: #123440;
}
.about-wrapper-title-inner{
    display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #1d4f62;
    width:95%;
    border-top-left-radius: 30em;
    border-bottom-left-radius:30em;
    height: 200px;
}
.about-title{
    font-size:40px;
    text-shadow:0.1em 0.1em 0.045em rgba(23, 23, 23, 0.914);
    color:white;
    
}
.about-wrapper{
    display: grid;
    grid-template-columns: 70% 30%;

}
#about-img{
    width: 100%;
    height: 30em;
    border-top-right-radius: 4em;
}
.about-wrapper-title-title{
    margin: 1.1em;
    
}
.wrp{
    display: flex;
    flex-direction: column;


}
.filter-content-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:#1d4f62;
    padding: 0;
    margin: 0;
    height: 50px;
}
.wpb-wrapper{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.wpb-wrapper input[type="submit"]{
    border-radius: 50px;
    border: none;
    color: white;
   position: absolute;
   font-family: Shabnam;
   width: 90px;
   z-index: 4;
   cursor: pointer;
    height: 40px;
    padding: 0 10px;
    background-color:#1c4956;
    transition: 1s ease;
}
.wpb-wrapper input[type="submit"]:hover{
    background-color: white;
    color: #1c4956;
    border: 1px solid #1c4956;
    font-weight: bolder;

}

.wpb-wrapper input::placeholder{
    font-family: Shabnam;
    text-align:center;
}
.wpb-wrapper input[type="email"]{
   text-align: center;
    width: 280px;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding: 0 10px;
}
.links-footer-item{
    cursor: pointer;
   
}
.links-footer-item:visited{
   color: #123440;
}
.links-footer-item:hover{
    color: #2e7297;
}
.most-visited-products-container{
    margin-bottom: 2%;
}

.most-visited-products{
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.links-footer{
    margin:40px 0  10px 0;
}
.join-club-footer-title{
    margin-top:20px;
}
.join-club-footer{
    display: flex;
}
.wpb-wrapper a{
    text-decoration: none;
}

#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F6F6F8;
    height: 150px;
    width: 100%;
    font-family: Shabnam;
}
.arma-span{
    font-weight: bold;
    color: rgba(246, 99, 99, 0.971);
    font-size: 1em;
}
.about-wrapper-text{
    width: 80%;
    height: 300px;
    font-size:18px;
    line-height: 34px;
    margin: 0 0 1.1em 1.1em;
    padding: 10px 15px;
}


.contact-main{
    display: grid;
    grid-template-columns: 60% 40%;
    overflow-x: hidden;
    background-color: #F9F8FD;
}
.container--2{
 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact,.hours-operation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em 2.5em;
}
.contact-option-item{
    margin:0.55em 0.4em;
}
.contact-option-item i{
    margin-left:1em;
}
.contact-text{
    text-align: center;
    margin-top: 15%;
}
#contact-image{
  height:450px;
}

